@model AboutModel

  <div class="alert alert-primary" role="alert">
  @Model.Title
</div>
     <div class="alert alert-success" role="alert">
  @Model.Description
</div>
<p>Tags</p>
<ul>
@{
    foreach (var item in Model.Tags)
    {
        <li>@item</li>
    }
}
</ul>